* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #24293e;
    color: #212529;
    line-height: 1.5;
}

header {
    background: #35424a;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 5px;
    background: #8ebbff;
    padding: 10px;
    border-radius: 5px;
}

nav ul li a {
    color: #f4f5fc;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

main {
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
    gap: 20px;
}

.materi {
    max-width: 50%;
    margin: 0;
}

.profile {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 20px 0;
}

form {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    background: #35424a;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 15px 0;
    background: #35424a;
    color: #ffffff;
    margin-top: 20px;
    width: 100%;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .text-content {
        text-align: center;
    }

    .profile {
        width: 150px;
        height: 150px;
    }
}
