* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: #24293e;
    color: #212529
}

header {
    background: #35424a;
    margin-bottom: 20px;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 5px;
    background: #8ebbff;
    padding: 10px;
    border-radius: 5px;
}

nav ul li a {
    color: #f4f5fc;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

nav ul li a:hover {
    color: #18aaba;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: large;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 800px;
}

h1,
h2 {
    color: #35424a;
}

h1 {
    margin-bottom: 20px;
}

.materi {
    max-width: 70%;
    margin: 0;
}

.profile {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 20px 0;
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 15px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}

form {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

form input:focus,
form textarea:focus {
    border-color: #35424a;
    outline: none;
}

form button {
    background: #35424a;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s, transform 0.3s;
}

form button:hover {
    background: #45a049;
    transform: translateY(-2px);
}

form button:active {
    transform: translateY(0);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .text-content {
        text-align: center;
    }

    .profile {
        width: 150px;
        height: 150px;
    }

    .materi {
        max-width: 100%;
    }

}
